In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
# Open the file `alice-in-wonderland.txt`, and read it into a `pandas` series
# or data frame, such that each word is a separate value.
filename = '../data/alice-in-wonderland.txt'

s = Series(open(filename).read().split())
s.head()

0         ﻿The
1      Project
2    Gutenberg
3        EBook
4           of
dtype: object

In [4]:
# What are the 10 most common words in the book?
s.value_counts().head(10)

the     732
and     362
a       321
to      311
of      300
in      211
she     197
was     160
said    129
it      122
Name: count, dtype: int64

In [5]:
# Does this change if we count the words without regard to case?
(
    s
    .str
    .lower()
    .value_counts()
    .head(10)
)

the    792
and    379
a      325
to     318
of     313
she    232
in     222
was    160
you    141
it     136
Name: count, dtype: int64

In [6]:
# Does it change if we remove punctuation marks and quote marks
# from the beginning and end of each word?
import string

(
    s
    .str
    .strip(string.punctuation)
    .value_counts()
    .head(10)
)

the      735
and      384
a        322
to       320
of       303
in       214
she      201
was      167
Alice    166
it       164
Name: count, dtype: int64

In [7]:
# How many capitalized words does the book contain?

(
    s
    .loc[s.str.contains('^[A-Z]\w*$', 
                        regex=True)]
    .count()
)

np.int64(1100)

In [10]:
# If we ignore punctuation and quotes before the start of a word, 
# how many capitalized words does the book contain?

(
    s
    .loc[s.str.strip(string.punctuation)
        .str
        .contains('^[A-Z]\w*$', regex=True)]
    .count()
)

np.int64(1686)