In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# Read the NYC parking violations data into memory.  Only
# load the following columns:'Plate ID',  'Registration State', 
# 'Vehicle Make', 'Vehicle Color', 'Vehicle Make', 
# Violation Time', 'Street Name', 'Violation Legal Code', 

filename = '../data/nyc-parking-violations-2020.csv'

df = pd.read_csv(filename, usecols=['Plate ID',  'Registration State',
                        'Vehicle Make', 'Vehicle Color', 'Vehicle Body Type', 
                                    'Violation Time', 'Street Name',
                                   'Violation Legal Code'])
df.head()

/var/folders/rr/0mnyyv811fs5vyp22gf4fxk00000gn/T/ipykernel_51944/3873738921.py:8: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, usecols=['Plate ID',  'Registration State',

,Plate ID,Registration State,Vehicle Body Type,Vehicle Make,Violation Time,Street Name,Violation Legal Code,Vehicle Color
0,J58JKX,NJ,SDN,HONDA,0523P,43 ST,NaN,BK
1,KRE6058,PA,SUBN,ME/BE,0428P,UNION ST,NaN,BLK
2,444326R,NJ,SDN,LEXUS,0625A,CLERMONT AVENUE,NaN,BLACK
3,F728330,OH,SDN,CHEVR,1106A,DIVISION AVE,NaN,NaN
4,FMY9090,NY,SUBN,JEEP,1253A,GRAND ST,NaN,GREY

# Beyond 1

Without calculating: Of the columns we loaded, which would make less sense to turn into categories?

Once you've thought about it, calculate how many repeated values there are in each column, and determine (more formally) which would give the biggest ROI in using categories.

Columns with repeated values make more sense. Thus, registration state, body type, vehicle make, street name, and vehicle color would all seem to be good candidates.  However, plate ID wouldn't make sense, unless the same cars received a very large number of tickets.

In [3]:
# This code shows, in descending order, the columns most likely to benefit from being made into categories
(df.count() / df.nunique()).sort_values(ascending=False) * 100

Violation Legal Code    2.226554e+08
Registration State      1.837608e+07
Vehicle Body Type       7.619201e+05
Violation Time          6.835589e+05
Vehicle Color           6.383835e+05
Vehicle Make            2.386433e+05
Street Name             2.163256e+04
Plate ID                3.850149e+02
dtype: float64

# Beyond 2

In Exercise 25, we saw that the vehicle makes and colors were far from standardized, with numerous misspellings and variations. If we were to standardize the spellings before creating categories, would that make any effect on the memory savings we gain from categorization? Why or why not?

We would benefit most by first standardizing the spellings, and only after creating the category. The more times a string is repeated, the greater the benefit from using a category for that string. When we standardize the spellings, we reduce the number of different strings in a column, and increase the number of times it repeats -- thus strengthening the argument for using a category.

# Beyond 3

Read only the first 100,000 lines from the CSV file, but all columns. Show the 10 columns that will most likely benefit greatest from using categories?

In [4]:

filename = '../data/nyc-parking-violations-2020.csv'

df = pd.read_csv(filename, nrows=10_000)
(df.count() / df.nunique()).sort_values(ascending=False).head(10)

Violation Description                5615.000000
Violation Legal Code                 5615.000000
Law Section                          3333.333333
Unregistered Vehicle?                2169.000000
Violation County                     1086.333333
Issuing Agency                        909.090909
Feet From Curb                        833.333333
Violation In Front Of Or Opposite     796.800000
Date First Observed                   400.000000
Plate Type                            344.827586
dtype: float64