In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# Load the CSV file with results from the Python survey into a data frame.
py_filename = '../data/2020_sharing_data_outside.csv'

py_df = pd.read_csv(py_filename, low_memory=False)

In [3]:
py_df.head()

,is.python.main,other.lang.None,other.lang.Java,other.lang.JavaScript,other.lang.C/C++,other.lang.PHP,other.lang.C#,other.lang.Ruby,other.lang.Bash / Shell,other.lang.Objective-C,...,job.role.Technical support,job.role.Data analyst,job.role.Business analyst,job.role.Team lead,job.role.Product manager,job.role.CIO / CEO / CTO,job.role.Systems analyst,job.role.Other,age,country.live
0,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bash / Shell,NaN,...,NaN,NaN,Business analyst,NaN,NaN,NaN,NaN,NaN,30–39,NaN
1,Yes,NaN,Java,JavaScript,NaN,NaN,C#,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21–29,India
2,Yes,NaN,NaN,NaN,C/C++,NaN,NaN,NaN,Bash / Shell,NaN,...,Technical support,Data analyst,NaN,Team lead,NaN,NaN,NaN,NaN,30–39,United States
3,Yes,NaN,NaN,JavaScript,NaN,NaN,NaN,NaN,Bash / Shell,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Yes,NaN,Java,JavaScript,C/C++,NaN,NaN,NaN,Bash / Shell,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21–29,Italy

In [ ]:
# Rename some columns

general_columns = ['age',
                   'are.you.datascientist',
                   'company.size',
                   'country.live',
                   'employment.status',
                   'first.learn.about.main.ide',
                   'how.often.use.main.ide',
                   'is.python.main',
                   'main.purposes',
                   'missing.features.main.ide',
                   'nps.main.ide',
                   'python.version.most',
                   'python.years',
                   'python2.version.most',
                   'python3.version.most',
                   'several.projects',
                   'team.size',
                   'use.python.most',
                   'years.of.coding'
                  ]

# Use the function `pd.MultiIndex.from_tuples` to create the multi-index, 
# and then reassign it back to `df.columns`. 

def column_multi_name(column_name):
    if column_name in general_columns:
        return ('general', column_name)
    else:
        first, rest = column_name.rsplit('.', 1)
        return (first, rest)
    
py_df.columns = pd.MultiIndex.from_tuples([column_multi_name(one_column_name)
                  for one_column_name in py_df.columns    ])

In [5]:
py_df.head()

         general other.lang                                          \
  is.python.main       None  Java  JavaScript  C/C++  PHP   C# Ruby
0            Yes        NaN   NaN         NaN    NaN  NaN  NaN  NaN
1            Yes        NaN  Java  JavaScript    NaN  NaN   C#  NaN
2            Yes        NaN   NaN         NaN  C/C++  NaN  NaN  NaN
3            Yes        NaN   NaN  JavaScript    NaN  NaN  NaN  NaN
4            Yes        NaN  Java  JavaScript  C/C++  NaN  NaN  NaN

                             ...           job.role                \
   Bash / Shell Objective-C  ...  Technical support  Data analyst
0  Bash / Shell         NaN  ...                NaN           NaN
1           NaN         NaN  ...                NaN           NaN
2  Bash / Shell         NaN  ...  Technical support  Data analyst
3  Bash / Shell         NaN  ...                NaN           NaN
4  Bash / Shell         NaN  ...                NaN           NaN

                                                                \
   Business analyst  Team lead Product manager CIO / CEO / CTO
0  Business analyst        NaN             NaN             NaN
1               NaN        NaN             NaN             NaN
2               NaN  Team lead             NaN             NaN
3               NaN        NaN             NaN             NaN
4               NaN        NaN             NaN             NaN

                        general
  Systems analyst Other     age   country.live
0             NaN   NaN   30–39            NaN
1             NaN   NaN   21–29          India
2             NaN   NaN   30–39  United States
3             NaN   NaN     NaN            NaN
4             NaN   NaN   21–29          Italy

[5 rows x 264 columns]

In [6]:
# Sort the columns, such that they're in alphabetical order. 
py_df = py_df[sorted(py_df.columns)]

In [7]:
py_df.head()

       bigdata                                                                \
   Apache Beam Apache Flink Apache Hadoop/MapReduce Apache Hive Apache Kafka
0  Apache Beam          NaN                     NaN         NaN          NaN
1          NaN          NaN                     NaN         NaN          NaN
2          NaN          NaN                     NaN         NaN          NaN
3          NaN          NaN                     NaN         NaN          NaN
4          NaN          NaN                     NaN         NaN          NaN

                                                        ... web.frameworks  \
  Apache Samza Apache Spark Apache Tez ClickHouse Dask  ...         Django
0          NaN          NaN        NaN        NaN  NaN  ...            NaN
1          NaN          NaN        NaN        NaN  NaN  ...            NaN
2          NaN          NaN        NaN        NaN  NaN  ...            NaN
3          NaN          NaN        NaN        NaN  NaN  ...         Django
4          NaN          NaN        NaN        NaN  NaN  ...            NaN


  Falcon FastAPI  Flask   Hug None Other Pyramid   Tornado web2py
0    NaN     NaN     NaN  NaN  NaN   NaN      NaN      NaN    NaN
1    NaN     NaN     NaN  NaN  NaN   NaN      NaN  Tornado    NaN
2    NaN     NaN  Flask   NaN  NaN   NaN      NaN      NaN    NaN
3    NaN     NaN     NaN  NaN  NaN   NaN      NaN      NaN    NaN
4    NaN     NaN  Flask   NaN  NaN   NaN      NaN      NaN    NaN

[5 rows x 264 columns]

In [72]:
# What are the 10 most popular IDEs used for editing Python?
# Python을 사용하는 응답자만 필터링
mask = (py_df.loc[:, ('general', 'is.python.main')] == 'Yes') | \
       (py_df.loc[:, ('general', 'is.python.main')] == 'No, I use Python as a secondary language')

py_df.loc[mask, ('ide', 'main')].value_counts().head(10)

(ide, main)
VS Code                         8010
PyCharm Professional Edition    5144
PyCharm Community Edition       3815
Vim                             2176
Sublime Text                    1201
Jupyter Notebook                1167
Atom                             784
Other                            711
Emacs                            635
Spyder                           580
Name: count, dtype: int64

In [71]:
# Python을 주요 언어로 사용하는 응답자만 필터링할 경우
mask = py_df.loc[:, ('general', 'is.python.main')] == 'Yes'

py_df.loc[mask, ('ide', 'main')].value_counts().head(10)

(ide, main)
VS Code                         6770
PyCharm Professional Edition    4633
PyCharm Community Edition       3282
Vim                             1834
Sublime Text                    1065
Jupyter Notebook                1038
Atom                             668
Other                            594
Emacs                            525
Spyder                           501
Name: count, dtype: int64

In [9]:
# Which 10 other programming languages are most commonly used by Python developers?
(
    py_df['other.lang']
    .count()
    .sort_values(ascending=False)
    .head(10)
)

JavaScript      16662
HTML/CSS        15469
Bash / Shell    13793
SQL             13391
C/C++           11623
Java             8109
C#               4460
PHP              4060
TypeScript       3717
Other            3592
dtype: int64

In [10]:
# What were the 10 most common countries from which survey participants came?
(
    py_df[('general', 'country.live')]
    .value_counts()
    .head(10)
)

(general, country.live)
United States         3975
India                 2800
Germany               1807
China                 1155
United Kingdom        1110
France                1078
Russian Federation     935
Other country          880
Brazil                 812
Canada                 644
Name: count, dtype: int64

In [11]:
# According to the Python survey, what proportion of Python developers have each level of experience?

(
    py_df[('general', 'python.years')]
    .value_counts(normalize=True)
)

(general, python.years)
3–5 years           0.284272
Less than 1 year    0.239542
1–2 years           0.224834
6–10 years          0.154939
11+ years           0.096413
Name: proportion, dtype: float64

In [12]:
# Which country has the greatest number of Python developers with 11+ years of experience?
(
    py_df['general']
    [py_df[('general','python.years')] == '11+ years']
    .groupby('country.live')['python.years']
    .count()
    .sort_values(ascending=False)
    .head(1)
)

country.live
United States    691
Name: python.years, dtype: int64

In [13]:
# Proportion of Python devs per country with 11+years experience
country_experience = py_df['general'][['country.live', 'python.years']]
all_per_country = country_experience['country.live'].value_counts()

In [14]:
all_per_country

country.live
United States         3975
India                 2800
Germany               1807
China                 1155
United Kingdom        1110
                      ...
Kazakhstan              36
Dominican Republic      34
Uruguay                 33
Armenia                 31
Uzbekistan              31
Name: count, Length: 76, dtype: int64

In [15]:
expert_per_country = (country_experience
                      .loc[
                          country_experience['python.years'] == '11+ years', 
                          'country.live']
                      .value_counts()
                     )

In [16]:
expert_per_country

country.live
United States     691
Germany           308
United Kingdom    207
France            166
Canada             94
                 ...
Pakistan            1
Tunisia             1
Nigeria             1
Ghana               1
Egypt               1
Name: count, Length: 70, dtype: int64

In [17]:
(expert_per_country / all_per_country).sort_values(ascending=False).dropna().head(10)

country.live
Norway            0.265432
Ireland           0.225490
Australia         0.225420
Belgium           0.225108
Slovenia          0.224490
New Zealand       0.197917
Sweden            0.194030
Finland           0.190141
United Kingdom    0.186486
Austria           0.186170
Name: count, dtype: float64

In [18]:
# Load the CSV file with results from the Stack Overflow survey into a data frame.
so_filename = '../data/so_2021_survey_results.csv'

so_df = pd.read_csv(so_filename, low_memory=False)

In [19]:
so_df.head()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

한국, 영국, 미국의 이름을 이후에 불러오는 OECD 데이터에서 사용된 국가명과 통일시킨다.

In [20]:
to_replace_dict = {'South Korea' : 'Korea',
                   'Republic of Korea' : 'Korea',
                    'United States of America' : 'United States',
                    'United Kingdom of Great Britain and Northern Ireland' : 'United Kingdom'
                    }
so_df['Country'] = so_df['Country'].replace(to_replace=to_replace_dict)

In [21]:
# Show the average salary for different types of employment. 
# Contractors and freelancers like to say that they earn more than full-time employees. 
# What does the data here show us?

(
    so_df
    .groupby('Employment')['ConvertedCompYearly'].mean()
    .sort_values(ascending=False)
    .dropna()
    .apply(lambda n: f'{n:,.2f}')
)

Employment
I prefer not to say                                     1,455,643.25
Employed full-time                                        121,369.67
Independent contractor, freelancer, or self-employed      107,433.97
Retired                                                    69,533.25
Employed part-time                                         41,136.12
Name: ConvertedCompYearly, dtype: object

In [22]:
pd.options.display.float_format = '{:,.2f}'.format

In [23]:
so_df[['Country', 'EdLevel', 'ConvertedCompYearly']]

,Country,EdLevel,ConvertedCompYearly
0,Slovakia,"Secondary school (e.g. American high school, G...","62,268.00"
1,Netherlands,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",NaN
2,Russian Federation,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",NaN
3,Austria,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN
4,United Kingdom,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN
...,...,...,...
83434,United States,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","160,500.00"
83435,Benin,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","3,960.00"
83436,United States,"Secondary school (e.g. American high school, G...","90,000.00"
83437,Canada,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","816,816.00"
83438,Brazil,"Professional degree (JD, MD, etc.)","21,168.00"

In [24]:
# Create a pivot table in which the index contains countries, 
# the columns are education levels, 
# and the cells contain the average salary for each education level per country.

(
    so_df
    .pivot_table(index='Country', 
                 columns='EdLevel', 
                 values='ConvertedCompYearly')
)

EdLevel,"Associate degree (A.A., A.S., etc.)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other doctoral degree (Ph.D., Ed.D., etc.)",Primary/elementary school,"Professional degree (JD, MD, etc.)","Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)",Some college/university study without earning a degree,Something else
Country,,,,,,,,,
Afghanistan,NaN,"30,288.00","10,176,704.00",NaN,NaN,NaN,100.00,NaN,NaN
Albania,NaN,"19,152.86","80,127.62",NaN,NaN,"5,298.00","19,890.00","22,884.00","128,522.00"
Algeria,NaN,"21,770.67","15,052.57",NaN,NaN,"12,912.00",NaN,"6,288.00",NaN
Andorra,NaN,"94,045.50","22,056.00","146,981.00",NaN,NaN,NaN,NaN,NaN
Angola,NaN,"31,500.00",NaN,NaN,NaN,NaN,"18,678.00","6,904.00",NaN
...,...,...,...,...,...,...,...,...,...
"Venezuela, Bolivarian Republic of...",NaN,"30,108.77","28,680.00",NaN,"7,200.00","14,833.29","10,200.00","17,720.57",NaN
Viet Nam,"7,827.00","18,463.11","50,599.80","2,592.00","10,479.00","30,000.00",NaN,"18,866.19",NaN
Yemen,NaN,"5,628.67",NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zambia,NaN,"40,173.00","4,908.00",NaN,NaN,NaN,"4,482.00","12,105.33","8,184.00"
Zimbabwe,"36,000.00","8,399.27",NaN,NaN,NaN,NaN,NaN,"20,000.00",NaN

In [25]:
# Load the CSV file with OECD data
oecd_filename = '../data/oecd_locations.csv'

oecd_df = pd.read_csv(oecd_filename, header=None, index_col=1, names=['abbrev', 'Country'])

In [26]:
oecd_df

               abbrev
Country
Australia         AUS
Austria           AUT
Belgium           BEL
Canada            CAN
Denmark           DNK
Finland           FIN
France            FRA
Germany           DEU
Hungary           HUN
Italy             ITA
Japan             JPN
Korea             KOR
United Kingdom    GBR
United States     USA
Brazil            BRA
Israel            ISR

In [27]:
so_df.set_index('Country')

,ResponseId,MainBranch,Employment,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
Country,,,,,,,,,,,,,,,,,,,,,
Slovakia,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,"62,268.00"
Netherlands,2,I am a student who is learning to code,"Student, full-time",NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
Russian Federation,3,"I am not primarily a developer, but I write co...","Student, full-time",NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
Austria,4,I am a developer by profession,Employed full-time,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
United Kingdom,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
United States,83435,I am a developer by profession,Employed full-time,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,5,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,"160,500.00"
Benin,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,2,...,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,"3,960.00"
United States,83437,I am a developer by profession,Employed full-time,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,4,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,"90,000.00"
Canada,83438,I am a developer by profession,Employed full-time,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,3,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,"816,816.00"
Brazil,83439,I am a developer by profession,Employed full-time,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,4,...,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,"21,168.00"

In [28]:
oecd_df.join(so_df.set_index('Country'))

,abbrev,ResponseId,MainBranch,Employment,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
Country,,,,,,,,,,,,,,,,,,,,,
Australia,AUS,210,"I am not primarily a developer, but I write co...",Employed full-time,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School;Friend or family member,4,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,"96,874.00"
Australia,AUS,743,I am a developer by profession,Employed part-time,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5 - 10 years,"Other online resources (ex: videos, blogs, etc...",11,...,18-24 years old,Man,No,Bisexual,White or of European descent,None of the above,I have an anxiety disorder,Too short,Easy,"16,050.00"
Australia,AUS,992,None of these,"Student, full-time",NaN,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent;Southeast Asian;B...,None of the above,Prefer not to say,Appropriate in length,Easy,NaN
Australia,AUS,1594,I am a developer by profession,Employed full-time,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5 - 10 years,Coding Bootcamp;Other online resources (ex: vi...,24,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,"40,086.00"
Australia,AUS,1779,I am a developer by profession,Employed full-time,NaN,NaN,Some college/university study without earning ...,25 - 34 years,Coding Bootcamp,2,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Too long,Neither easy nor difficult,"60,132.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Israel,ISR,82948,I am a developer by profession,Employed full-time,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Coding Bootcamp;School;Online Courses or Certi...,7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent;Middle Eastern,None of the above,None of the above,Appropriate in length,Easy,"84,048.00"
Israel,ISR,83072,I am a developer by profession,Employed part-time,NaN,NaN,Some college/university study without earning ...,11 - 17 years,"Other online resources (ex: videos, blogs, etc...",5,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent;Middle Eastern,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,"84,048.00"
Israel,ISR,83075,I am a developer by profession,Employed full-time,NaN,NaN,Something else,11 - 17 years,Coding Bootcamp;Other online resources (ex: vi...,5,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
Israel,ISR,83244,I am a developer by profession,Employed full-time,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Other (please specify):,36,...,45-54 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,"119,076.00"
Israel,ISR,83419,I am a student who is learning to code,"Student, full-time",NaN,NaN,Primary/elementary school,5 - 10 years,"Other online resources (ex: videos, blogs, etc...",5,...,Under 18 years old,"Non-binary, genderqueer, or gender non-conforming",No,Gay or Lesbian,White or of European descent;Middle Eastern,None of the above,None of the above,Appropriate in length,Easy,NaN

In [29]:
# Create this pivot table again, only including countries in our OECD subset.
(
    oecd_df
    .join(so_df.set_index('Country'))
    .pivot_table(index='Country',
                 columns='EdLevel', 
                 values='ConvertedCompYearly')
)

EdLevel,"Associate degree (A.A., A.S., etc.)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other doctoral degree (Ph.D., Ed.D., etc.)",Primary/elementary school,"Professional degree (JD, MD, etc.)","Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)",Some college/university study without earning a degree,Something else
Country,,,,,,,,,
Australia,"117,049.64","180,794.16","106,794.32","150,234.96","153,327.50","108,725.00","158,931.28","127,063.53","231,987.17"
Austria,"43,623.38","66,096.13","77,645.66","74,783.17","86,877.00","38,915.33","47,438.83","53,906.05","45,772.53"
Belgium,"35,664.00","68,474.70","88,580.41","80,832.44","11,342,349.25","71,000.20","43,224.13","88,006.29","27,035.50"
Brazil,"25,347.42","47,681.23","42,056.01","43,123.21","7,880.00","25,449.67","15,072.89","39,978.02","20,288.71"
Canada,"87,930.35","140,668.24","144,733.35","102,989.35","73,787.83","82,953.40","180,584.81","155,090.08","60,795.17"
Denmark,"80,217.33","80,430.94","115,751.85","102,785.19","91,056.57","114,144.89","90,411.74","85,131.35","95,479.86"
Finland,"282,353.67","69,381.34","74,360.98","61,508.25","77,832.00","83,016.00","59,424.32","89,255.56","35,024.00"
France,"54,394.89","65,062.38","94,585.73","140,402.86","34,181.00","78,342.27","53,981.81","55,119.45","42,884.04"
Germany,"98,530.52","102,751.23","110,611.98","108,718.46","74,943.67","97,330.14","82,865.84","95,737.77","109,333.99"
Hungary,"51,041.00","48,756.45","46,771.71","52,833.60","48,100.00","9,852.00","33,440.80","37,102.89","28,911.00"
Israel,"146,420.90","124,973.40","128,492.71","131,812.62","100,514.57","132,336.00","97,938.78","130,049.04","96,142.50"
Italy,"36,427.94","73,697.22","79,132.19","93,490.78","525,992.17","117,121.37","75,114.40","81,531.72","32,690.22"
Japan,"143,196.83","85,821.47","130,143.19","157,239.40","44,965.00",NaN,"57,916.40","91,163.04","194,514.00"
Korea,"26,408.67","102,098.03","118,153.39","41,919.00","28,164.00","21,132.00","50,874.73","80,391.00","125,556.00"
United Kingdom,"139,154.85","136,671.88","163,233.22","123,226.40","413,035.40","137,874.35","135,994.32","128,298.28","103,344.70"
United States,"206,568.32","284,798.46","248,945.46","208,656.94","186,642.00","504,847.43","169,139.79","231,506.51","115,890.29"

In [30]:
oecd_df.join(so_df.set_index('Country'))

,abbrev,ResponseId,MainBranch,Employment,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
Country,,,,,,,,,,,,,,,,,,,,,
Australia,AUS,210,"I am not primarily a developer, but I write co...",Employed full-time,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School;Friend or family member,4,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,"96,874.00"
Australia,AUS,743,I am a developer by profession,Employed part-time,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5 - 10 years,"Other online resources (ex: videos, blogs, etc...",11,...,18-24 years old,Man,No,Bisexual,White or of European descent,None of the above,I have an anxiety disorder,Too short,Easy,"16,050.00"
Australia,AUS,992,None of these,"Student, full-time",NaN,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent;Southeast Asian;B...,None of the above,Prefer not to say,Appropriate in length,Easy,NaN
Australia,AUS,1594,I am a developer by profession,Employed full-time,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5 - 10 years,Coding Bootcamp;Other online resources (ex: vi...,24,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,"40,086.00"
Australia,AUS,1779,I am a developer by profession,Employed full-time,NaN,NaN,Some college/university study without earning ...,25 - 34 years,Coding Bootcamp,2,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Too long,Neither easy nor difficult,"60,132.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Israel,ISR,82948,I am a developer by profession,Employed full-time,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Coding Bootcamp;School;Online Courses or Certi...,7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent;Middle Eastern,None of the above,None of the above,Appropriate in length,Easy,"84,048.00"
Israel,ISR,83072,I am a developer by profession,Employed part-time,NaN,NaN,Some college/university study without earning ...,11 - 17 years,"Other online resources (ex: videos, blogs, etc...",5,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent;Middle Eastern,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,"84,048.00"
Israel,ISR,83075,I am a developer by profession,Employed full-time,NaN,NaN,Something else,11 - 17 years,Coding Bootcamp;Other online resources (ex: vi...,5,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
Israel,ISR,83244,I am a developer by profession,Employed full-time,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Other (please specify):,36,...,45-54 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,"119,076.00"
Israel,ISR,83419,I am a student who is learning to code,"Student, full-time",NaN,NaN,Primary/elementary school,5 - 10 years,"Other online resources (ex: videos, blogs, etc...",5,...,Under 18 years old,"Non-binary, genderqueer, or gender non-conforming",No,Gay or Lesbian,White or of European descent;Middle Eastern,None of the above,None of the above,Appropriate in length,Easy,NaN

In [31]:
# In which of these countries does someone with an associate degree earn the most? 
(
    oecd_df.join(so_df.set_index('Country'))
    .pivot_table(index='Country',
                 columns='EdLevel', 
                 values='ConvertedCompYearly')['Associate degree (A.A., A.S., etc.)']
    .sort_values(ascending=False)
)

Country
Finland          282,353.67
United States    206,568.32
Israel           146,420.90
Japan            143,196.83
United Kingdom   139,154.85
Australia        117,049.64
Germany           98,530.52
Canada            87,930.35
Denmark           80,217.33
France            54,394.89
Hungary           51,041.00
Austria           43,623.38
Italy             36,427.94
Belgium           35,664.00
Korea             26,408.67
Brazil            25,347.42
Name: Associate degree (A.A., A.S., etc.), dtype: float64

In [32]:
# In which of them does someone with a doctoral degree earn the most?
# In which of these countries does someone with an associate degree earn the most? 
(
    oecd_df
    .join(so_df.set_index('Country'))
    .pivot_table(index='Country',
                 columns='EdLevel', 
                 values='ConvertedCompYearly')['Other doctoral degree (Ph.D., Ed.D., etc.)']
    .sort_values(ascending=False)
)

Country
United States    208,656.94
Japan            157,239.40
Australia        150,234.96
France           140,402.86
Israel           131,812.62
United Kingdom   123,226.40
Germany          108,718.46
Canada           102,989.35
Denmark          102,785.19
Italy             93,490.78
Belgium           80,832.44
Austria           74,783.17
Finland           61,508.25
Hungary           52,833.60
Brazil            43,123.21
Korea             41,919.00
Name: Other doctoral degree (Ph.D., Ed.D., etc.), dtype: float64

In [33]:
# Remove rows from `so_df` in which `LanguageHaveWorkedWith` is `NaN`.
so_df = so_df.dropna(subset=['LanguageHaveWorkedWith'])

In [35]:
# Remove rows from `so_df` in which Python isn't included 
# as a commonly used language (`LanguageHaveWorkedWith`).
so_df = (
    so_df.loc[so_df['LanguageHaveWorkedWith'].str.contains('Python')]
)

In [36]:
# Remove rows from `so_df` in which `YearsCode` is `NaN`.
so_df = (so_df
         .dropna(subset=['YearsCode'])
        )

In [41]:
so_df.loc[so_df['YearsCode'] == 'Less than 1 year', 'YearsCode'] = 0
so_df.loc[so_df['YearsCode'] == 'More than 50 years', 'YearsCode'] = 51

In [42]:
so_df['YearsCode'] = so_df['YearsCode'].astype(int)

In [51]:
# Create a new column in `so_df`, called `experience`, which will categorize the values in `YearsCode`

so_df['experience'] = pd.cut(so_df['YearsCode'], 
                             bins=[-1, 0, 2, 5, 10, 100], 
                             labels=['Less than 1 year', '1-2 years', '3-5 years', '6-10 years', '11+ years'])

In [52]:
# According to the Python survey, what proportion of Python developers have each level of experience?
so_df['experience'].value_counts(normalize=True)

experience
11+ years          0.37
6-10 years         0.32
3-5 years          0.22
1-2 years          0.07
Less than 1 year   0.02
Name: proportion, dtype: float64

In [50]:
py_df['other.lang']

,Bash / Shell,C#,C/C++,Clojure,CoffeeScript,Go,Groovy,HTML/CSS,Java,JavaScript,...,PHP,Perl,R,Ruby,Rust,SQL,Scala,Swift,TypeScript,Visual Basic
0,Bash / Shell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,C#,NaN,NaN,NaN,NaN,NaN,NaN,Java,JavaScript,...,NaN,NaN,R,NaN,NaN,SQL,NaN,NaN,TypeScript,NaN
2,Bash / Shell,NaN,C/C++,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bash / Shell,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS,NaN,JavaScript,...,NaN,NaN,NaN,NaN,NaN,SQL,NaN,NaN,NaN,NaN
4,Bash / Shell,NaN,C/C++,NaN,NaN,NaN,NaN,HTML/CSS,Java,JavaScript,...,NaN,NaN,NaN,NaN,NaN,SQL,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54457,Bash / Shell,NaN,C/C++,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54458,Bash / Shell,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS,NaN,JavaScript,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54459,Bash / Shell,NaN,NaN,NaN,NaN,Go,NaN,HTML/CSS,NaN,JavaScript,...,PHP,NaN,NaN,NaN,NaN,SQL,NaN,NaN,TypeScript,NaN
54460,Bash / Shell,NaN,C/C++,NaN,NaN,NaN,NaN,HTML/CSS,NaN,JavaScript,...,PHP,NaN,NaN,NaN,NaN,SQL,NaN,NaN,NaN,NaN
54461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS,NaN,JavaScript,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN