In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
df = DataFrame(np.random.randint(0, 100, [4,3]),
                                index=list('abcd'),
                                columns=list('xyz'))
df

    x   y   z
a  72  56  60
b  29  37  11
c  54  13  36
d  94  23  79

In [4]:
df.sum()

x    249
y    129
z    186
dtype: int64

In [5]:
df.sum(axis='columns')

a    188
b     77
c    103
d    196
dtype: int64

In [6]:
df.T.sum()

a    188
b     77
c    103
d    196
dtype: int64