In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [5]:
filename = '../data/nyc_taxi_2019-01.csv'

df = pd.read_csv(filename,
                usecols=['passenger_count',
                         'trip_distance', 'total_amount']
                         )

df.head()

   passenger_count  trip_distance  total_amount
0                1            1.5          9.95
1                1            2.6         16.30
2                3            0.0          5.80
3                5            0.0          7.55
4                5            0.0         55.55

In [7]:
# Using a descending sort, find the average cost of the 20 longest 
# (in distance) taxi rides in January 2019.

df.sort_values('trip_distance', 
               ascending=False)['total_amount'].iloc[:20].mean()

np.float64(290.00999999999993)

In [8]:
# Same thing, but using method chaining, and with rounding

(
    df
    .sort_values('trip_distance',
                  ascending=False)
    ['total_amount']
    .iloc[:20]
    .mean()
    .round(2)
)

np.float64(290.01)

In [9]:
# Now using an ascending sort, find the average cost of the 20 longest
# (in distance) taxi rides in January 2019.  Specify "mergesort" as the 
# sorting algorithm.  Are the results any different?

df.sort_values('trip_distance', kind='mergesort')['total_amount'].iloc[-20:].mean()

np.float64(290.01000000000005)

In [10]:
# Same thing, using method chaining and with rounding

(
    df
    .sort_values('trip_distance')
    ['total_amount']
    .iloc[-20:]
    .mean()
    .round(2)
)

np.float64(290.01)

In [11]:
# Sort by ascending passenger count and descending trip distance.  (So we'll start
# with the longest trip with 0 passengers and end with the shortest trip with
# 6 passengers.)  What is the average price paid for the top 50 rides?
df.sort_values(['passenger_count', 'trip_distance'], 
              ascending=[True, False])['total_amount'].iloc[:50].mean()

np.float64(135.49739999999997)