In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Beyond 1

Create a single data frame containing rides from both January 2019 and January 2020, with a column `year` indicating which year it came from. Use `groupby` to compare the average cost of a taxi in January of each of these two years.

In [2]:
jan_2019_filename = '../data/nyc_taxi_2019-01.csv'

jan_2019_df = pd.read_csv(jan_2019_filename,
                usecols=['passenger_count',
                         'trip_distance', 'total_amount'])
jan_2019_df['year'] = 2019

jan_2020_filename = '../data/nyc_taxi_2020-01.csv'

jan_2020_df = pd.read_csv(jan_2020_filename,
                usecols=['passenger_count',
                         'trip_distance', 'total_amount'])
jan_2020_df['year'] = 2020

df = pd.concat([jan_2019_df, jan_2020_df])


df.groupby('year')['total_amount'].mean()

year
2019    15.682222
2020    18.663149
Name: total_amount, dtype: float64

# Beyond 2

Now create a two-level grouping, first by year and then by `passenger_count`.

In [3]:
# Group by year, then by passenger_count
# The result is a series with a multi-index
df.groupby(['year', 'passenger_count'])['total_amount'].mean()

year  passenger_count
2019  0.0                18.663658
      1.0                15.609601
      2.0                15.831294
      3.0                15.604015
      4.0                15.650307
      5.0                15.546940
      6.0                15.437892
      7.0                48.278421
      8.0                64.105517
      9.0                31.094444
2020  0.0                18.059724
      1.0                18.343110
      2.0                19.050504
      3.0                18.736862
      4.0                19.128092
      5.0                18.234443
      6.0                18.367962
      7.0                71.143103
      8.0                58.197059
      9.0                81.244211
Name: total_amount, dtype: float64

# Beyond 3

Finally, the `corr` method allows us to see how strongly two columns correlate with one another. Use `corr` and then `sort_values` to find which have the highest correlation.

In [4]:
# df.corr() returns a square, so we can look at just the first column
# and get everything we need

# When we sort, we see very clearly that there's basically no correlation
# between passenger_count and any other column. (Except for itself, of 
# course...)  So there really doesn't seem to be any financial advantage
# for a driver to take a larger group.
df.corr().sort_values('passenger_count')

                 passenger_count  trip_distance  total_amount      year
year                   -0.021602       0.001140      0.007657  1.000000
total_amount           -0.000136       0.004331      1.000000  0.007657
trip_distance           0.008974       1.000000      0.004331  0.001140
passenger_count         1.000000       0.008974     -0.000136 -0.021602