In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
filename = '../data/nyc_taxi_2019-01.csv'

df = pd.read_csv(filename,
                usecols=['passenger_count',
                         'trip_distance', 'total_amount'])

df.head()

   passenger_count  trip_distance  total_amount
0                1            1.5          9.95
1                1            2.6         16.30
2                3            0.0          5.80
3                5            0.0          7.55
4                5            0.0         55.55

In [3]:
# For each number of passengers, find the mean cost of a taxi ride.
# Sort this result from lowest (i.e., cheapest) to highest (i.e., most expensive).

df.groupby('passenger_count')['total_amount'].mean()

passenger_count
0    18.663658
1    15.609601
2    15.831294
3    15.604015
4    15.650307
5    15.546940
6    15.437892
7    48.278421
8    64.105517
9    31.094444
Name: total_amount, dtype: float64

In [4]:
# Sort the results once again, in increasing number of passengers.

df.groupby('passenger_count')['total_amount'].mean().sort_index()

passenger_count
0    18.663658
1    15.609601
2    15.831294
3    15.604015
4    15.650307
5    15.546940
6    15.437892
7    48.278421
8    64.105517
9    31.094444
Name: total_amount, dtype: float64

In [5]:
# Now create a new column, `trip_length`, in which the values will be `short`
# (< 2 miles), `medium` (> 2 miles and <= 10 miles), or `long` (> 10 miles). 
# What was the average number of passengers per trip length category? Sort 
# this result from highest (greatest number of passengers) to lowest
# (smallest number of passengers).

df['trip_distance_group'] = pd.cut(df['trip_distance'], 
                                   [df['trip_distance'].min(), 2, 10, 
                                    df['trip_distance'].max()],
                                  labels=['short', 'medium', 'long'])
df.groupby('trip_distance_group')['passenger_count'].mean().sort_values(ascending=False)

trip_distance_group
long      1.590035
medium    1.585319
short     1.558400
Name: passenger_count, dtype: float64