In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Beyond 1

Create a data frame from four other columns (`VendorID`, `trip_distance`, `tip_amount`, and `total_amount`), specifying the `dtype` for each. What types are most appropriate? Can you use them directly, or must you first clean the data?

In [2]:
df = pd.read_csv('../data/nyc_taxi_2020-01.csv',
                usecols=['VendorID', 'trip_distance', 'tip_amount', 'total_amount'],
                dtype={'VendorID':np.float32,
                       'trip_distance':np.float32, 
                       'tip_amount':np.float32,
                       'total_amount':np.float32})

'VendorID' 열에 결측치 있음.

In [3]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6405008 entries, 0 to 6405007
Data columns (total 4 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   VendorID       6339567 non-null  float32
 1   trip_distance  6405008 non-null  float32
 2   tip_amount     6405008 non-null  float32
 3   total_amount   6405008 non-null  float32
dtypes: float32(4)
memory usage: 97.7 MB

결측치를 갖는 모든 행을 삭제 후 `VendorID` 열의 자료형을 `int8`로 변환.

In [4]:

df = df.dropna().copy()
df['VendorID'] = df['VendorID'].astype(np.int8)

In [5]:
df

         VendorID  trip_distance  tip_amount  total_amount
0               1           1.20        1.47     11.270000
1               1           1.20        1.50     12.300000
2               1           0.60        1.00     10.800000
3               1           0.80        1.36      8.160000
4               2           0.00        0.00      4.800000
...           ...            ...         ...           ...
6339562         2           2.10        2.96     17.760000
6339563         2           2.13        3.36     20.160000
6339564         2           2.55        3.26     19.559999
6339565         2           1.61        0.00     12.300000
6339566         2           0.00        0.00      0.000000

[6339567 rows x 4 columns]

In [6]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Index: 6339567 entries, 0 to 6339566
Data columns (total 4 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   VendorID       6339567 non-null  int8
 1   trip_distance  6339567 non-null  float32
 2   tip_amount     6339567 non-null  float32
 3   total_amount   6339567 non-null  float32
dtypes: float32(3), int8(1)
memory usage: 127.0 MB

# Beyond 2

Instead of removing `NaN` values from the `VendorID` column, set it to a new value, 3. How does that affect your specifications and cleaning of the data?

In [7]:
df = pd.read_csv('../data/nyc_taxi_2020-01.csv',
            usecols=['VendorID', 'trip_distance', 'tip_amount', 'total_amount'],
            dtype={'VendorID':np.float32, 
                   'trip_distance':np.float32,
                   'tip_amount':np.float32,
                  'total_amount':np.float32})

df['VendorID'] = df['VendorID'].fillna(3)
df['VendorID'] = df['VendorID'].astype(np.int8)

결측치 사라짐.

In [8]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6405008 entries, 0 to 6405007
Data columns (total 4 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   VendorID       6405008 non-null  int8
 1   trip_distance  6405008 non-null  float32
 2   tip_amount     6405008 non-null  float32
 3   total_amount   6405008 non-null  float32
dtypes: float32(3), int8(1)
memory usage: 79.4 MB

# Beyond 3

We'll talk more about this in future chapters, but the `memory_usage` method allows you to see how much memory is being used by each column in a data frame. It returns a series of integers, in which the index lists the columns and the values represent the memory used by each column. Compare the memory used by the data frame with `float32` (which you've already used) and when you use `float64` instead for the final three columns.

In [9]:
# Memory usage with float32
m32 = df.memory_usage().sum()
m32

83265236

In [10]:
df = pd.read_csv('../data/nyc_taxi_2020-01.csv',
            usecols=['VendorID', 'trip_distance', 'tip_amount', 'total_amount'],
            dtype={'VendorID':np.float64, 
                   'trip_distance':np.float64,
                   'tip_amount':np.float64,
                  'total_amount':np.float64})

df['VendorID'] = df['VendorID'].fillna(3)
df['VendorID'] = df['VendorID'].astype(np.int8)

In [11]:
# Memory usage with float64
m64 = df.memory_usage().sum()
m64

160125332

In [12]:
# float64 uses about 2x the memory as float32!
m64/m32

1.9230754597272743