In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Beyond 1

Using method chaining, and without assigning the downloaded data to a variable, can you return the current value? Your solution should consist of a single line, which includes the download, selection, and calculation.

In [2]:
pd.read_csv('https://api.blockchain.info/charts/market-price?format=csv',
                header=None,
                names=['date', 'value']).tail(1)['value']

364    117128.97
Name: value, dtype: float64

# Beyond 2

Yahoo Finance의 공식 CSV 다운로드 API를 직접 사용하여 세계 주식시장의 거래 결과를 가져온다. 아래 코드는 지난 1년간의 S&P 500 데이터를 가져온다.
참고로 야후 파이낸스의 S&P 500 주식시장 거래 정보는
[S&P 500(^GSPC)](https://finance.yahoo.com/quote/%5EGSPC)에서 직접 확인할 수 있다.

In [3]:
# %pip install yfinance

In [4]:
import yfinance as yf
import datetime as dt

# 코드 실행일 기준으로 1년 전부터 오늘까지의 날짜를 지정하여 데이터 다운로드
end_date = dt.date.today()
start_date = end_date - dt.timedelta(days=365)

# S&P 500 (^GSPC) 데이터를 다운로드합니다.
# yfinance가 인증 및 다운로드를 모두 처리합니다.
# auto_adjust=True로 설정하여 FutureWarning를 방지하고 조정된 종가를 사용합니다.
df_yf = yf.download('^GSPC', start=start_date, end=end_date, auto_adjust=True)

[*********************100%***********************]  1 of 1 completed

In [5]:
df_yf

Price             Close         High          Low         Open      Volume
Ticker            ^GSPC        ^GSPC        ^GSPC        ^GSPC       ^GSPC
Date
2024-09-20  5702.549805  5715.140137  5674.490234  5709.640137  7867260000
2024-09-23  5718.569824  5725.359863  5704.220215  5711.899902  3529550000
2024-09-24  5732.930176  5735.319824  5698.990234  5727.660156  3872710000
2024-09-25  5722.259766  5741.029785  5712.060059  5733.649902  3624910000
2024-09-26  5745.370117  5767.370117  5721.009766  5762.220215  4391180000
...                 ...          ...          ...          ...         ...
2025-09-15  6615.279785  6619.620117  6602.069824  6603.490234  5045020000
2025-09-16  6606.759766  6626.990234  6600.109863  6624.129883  5359510000
2025-09-17  6600.350098  6624.390137  6551.149902  6604.870117  5805340000
2025-09-18  6631.959961  6656.799805  6611.890137  6626.850098  5292400000
2025-09-19  6664.359863  6671.819824  6630.310059  6647.109863  9125960000

[250 rows x 5 columns]

**티커(Ticker)란?*

티커(Ticker) 또는 티커 심볼(Ticker Symbol)은 주식 시장에서 특정 증권을 식별하기 위해 사용하는 고유한 약어입니다. 예를 들어, 뉴욕증권거래소(NYSE)나 나스닥(NASDAQ)에 상장된 회사의 주식은 각각 고유한 티커를 가집니다.

*   **`AAPL`**: Apple Inc.
*   **`MSFT`**: Microsoft Corporation
*   **`GOOGL`**: Alphabet Inc. (Google)

야후 파이낸스에서는 시장 지수를 나타내는 티커 앞에 캐럿(`^`) 기호를 붙여 구분합니다.

*   **`^GSPC`**: S&P 500 지수
*   **`^IXIC`**: 나스닥 종합 지수

국내 주식의 경우, 종목 코드 뒤에 거래소 코드를 붙여 사용합니다.

*   **`.KS`**: 코스피(KOSPI) 시장
*   **`.KQ`**: 코스닥(KOSDAQ) 시장
*   **`005930.KS`**: 삼성전자 (코스피)
*   **`068270.KQ`**: 셀트리온 (코스닥)

`yfinance`와 같은 라이브러리를 사용할 때, 원하는 주식이나 지수의 데이터를 가져오려면 정확한 티커를 알아야 합니다.

`df_yf`는 Price와 Ticker 두 종류의 인덱스를 갖는 멀티 인덱스를 사용한다.
Price는 0-레벨, Ticker는 1-레벨 인덱스다. 

이처럼 여러 레벨(MultiIndex)로 구성된 경우,
get_level_values(0) 등을 이용하여 원하는 레벨의 컬럼만 선택할 수 있다.

In [6]:
# 현재는 단일 종목을 다운로드하여 컬럼 레벨이 하나뿐이므로 실행 결과에 변화는 없습니다.
if isinstance(df_yf.columns, pd.MultiIndex):
    df_yf.columns = df_yf.columns.get_level_values(0)

# 컬럼 확인
df_yf.columns

Index(['Close', 'High', 'Low', 'Open', 'Volume'], dtype='object', name='Price')

In [7]:
df_yf

Price             Close         High          Low         Open      Volume
Date
2024-09-20  5702.549805  5715.140137  5674.490234  5709.640137  7867260000
2024-09-23  5718.569824  5725.359863  5704.220215  5711.899902  3529550000
2024-09-24  5732.930176  5735.319824  5698.990234  5727.660156  3872710000
2024-09-25  5722.259766  5741.029785  5712.060059  5733.649902  3624910000
2024-09-26  5745.370117  5767.370117  5721.009766  5762.220215  4391180000
...                 ...          ...          ...          ...         ...
2025-09-15  6615.279785  6619.620117  6602.069824  6603.490234  5045020000
2025-09-16  6606.759766  6626.990234  6600.109863  6624.129883  5359510000
2025-09-17  6600.350098  6624.390137  6551.149902  6604.870117  5805340000
2025-09-18  6631.959961  6656.799805  6611.890137  6626.850098  5292400000
2025-09-19  6664.359863  6671.819824  6630.310059  6647.109863  9125960000

[250 rows x 5 columns]

In [8]:
df_yf.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 250 entries, 2024-09-20 to 2025-09-19
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   250 non-null    float64
 1   High    250 non-null    float64
 2   Low     250 non-null    float64
 3   Open    250 non-null    float64
 4   Volume  250 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 11.7 KB

**여러 종류의 Ticker 활용**

`^GSPC` 외의 다른 티커들과 여러 종목을 한 번에 다운로드하는 방법은 다음과 같습니다.

*   `^IXIC`: 나스닥 종합 지수 (NASDAQ Composite)
*   `^DJI`: 다우존스 산업평균지수 (Dow Jones Industrial Average)
*   `^KS11`: 코스피 (KOSPI)
*   `^KQ11`: 코스닥 (KOSDAQ)
*   `^N225`: 닛케이 225 (Nikkei 225, 일본)
*   `^FTSE`: FTSE 100 (영국)

개별 종목의 경우, 예를 들어 애플(Apple Inc.)은 `AAPL`, 삼성전자는 `005930.KS` 와 같은 티커를 사용합니다.

아래에서는 S&P 500과 나스닥 지수를 함께 다운로드하는 예시입니다. 두 개 이상의 종목을 다운로드하면 컬럼이 여러 레벨(MultiIndex)로 구성됩니다.

In [9]:
# S&P 500과 코스피 지수를 함께 다운로드
df_multi = yf.download(['^GSPC', '^KS11'], start=start_date, end=end_date, auto_adjust=True)

[*********************100%***********************]  2 of 2 completed
[*********************100%***********************]  2 of 2 completed

In [10]:
df_multi.head()

Price             Close                      High                       Low  \
Ticker            ^GSPC        ^KS11        ^GSPC        ^KS11        ^GSPC
Date
2024-09-20  5702.549805  2593.370117  5715.140137  2619.550049  5674.490234
2024-09-23  5718.569824  2602.010010  5725.359863  2603.570068  5704.220215
2024-09-24  5732.930176  2631.679932  5735.319824  2631.679932  5698.990234
2024-09-25  5722.259766  2596.320068  5741.029785  2663.360107  5712.060059
2024-09-26  5745.370117  2671.570068  5767.370117  2671.570068  5721.009766

Price                           Open                     Volume
Ticker            ^KS11        ^GSPC        ^KS11         ^GSPC     ^KS11
Date
2024-09-20  2591.399902  5709.640137  2603.830078  7.867260e+09  496000.0
2024-09-23  2588.489990  5711.899902  2596.469971  3.529550e+09  339100.0
2024-09-24  2597.810059  5727.660156  2612.449951  3.872710e+09  355100.0
2024-09-25  2596.320068  5733.649902  2652.709961  3.624910e+09  454500.0
2024-09-26  2630.300049  5762.220215  2630.909912  4.391180e+09  324900.0

# Beyond 3

Create a two-row data frame containing the highest and lowest S&P 500 closing prices from the past year.

In [11]:
df_yf['Close'].agg(['idxmin', 'idxmax'])

idxmin   2025-04-08
idxmax   2025-09-19
Name: Close, dtype: datetime64[ns]

In [12]:
df_yf.loc[df_yf['Close'].agg(['idxmin', 'idxmax']), 'Close']

Date
2025-04-08    4982.770020
2025-09-19    6664.359863
Name: Close, dtype: float64

Use the to_csv method to display this data in CSV format.

In [13]:
df_yf.loc[df_yf['Close'].agg(['idxmin', 'idxmax']), 'Close'].to_csv()

'Date,Close\n2025-04-08,4982.77001953125\n2025-09-19,6664.35986328125\n'

In [14]:
print(df_yf.loc[df_yf['Close'].agg(['idxmin', 'idxmax']), 'Close'].to_csv())

Date,Close
2025-04-08,4982.77001953125
2025-09-19,6664.35986328125