In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
filename = '../data/nyc-parking-violations-2020.csv'

df = pd.read_csv(filename,
                 usecols=['Plate ID',  'Registration State',
                        'Vehicle Make', 'Vehicle Color', 'Violation Time', 'Street Name'])

df.head()

,Plate ID,Registration State,Vehicle Make,Violation Time,Street Name,Vehicle Color
0,J58JKX,NJ,HONDA,0523P,43 ST,BK
1,KRE6058,PA,ME/BE,0428P,UNION ST,BLK
2,444326R,NJ,LEXUS,0625A,CLERMONT AVENUE,BLACK
3,F728330,OH,CHEVR,1106A,DIVISION AVE,NaN
4,FMY9090,NY,JEEP,1253A,GRAND ST,GREY

In [3]:
# How many rows are in the data frame when it is read into memory?
len(df.index)

12495734

In [4]:
# Remove rows with any missing data (i.e., a `NaN` value). How many rows remain after doing this pruning? 
all_good_df = df.dropna()

len(all_good_df.index)

12048375

In [5]:
# How many parking tickets have some missing information, then?
len(df.index) - len(all_good_df.index)

447359

In [6]:
# If each parking ticket brings $100 into the city, and missing data means that the ticket can be
# successfully contested, how much money might New York City lose as a result of such missing data?

f'${(len(df.index) - len(all_good_df) ) * 100:,}'  # WOW!

'$44,735,900'

In [7]:
# Let's instead assume that a ticket can only be dismissed if the license plate, state, vehicle
# make, and/or street name are all there. Remove rows that are missing one or more of these. 
# How many rows remain?

semi_good_df = df.dropna(subset=['Plate ID', 'Registration State', 'Vehicle Make', 'Street Name'])
len(semi_good_df.index)

12431949

In [8]:
# How many rows did we remove?
len(df.index) - len(semi_good_df.index)

63785

In [9]:
# Assuming $100/ticket, how much money would the city lose as as result of this missing data?

f'${(len(df.index) - len(semi_good_df.index) ) * 100:,}'   # a bit more reasonable...

'$6,378,500'

In [10]:
# Let's instead assume that a ticket can only be dismissed if the license plate, state, and/or
# street name are all there. Remove rows that are missing one or more of these. How many rows remain?
loosest_df = df.dropna(subset=['Plate ID', 'Registration State', 'Street Name'])
len(loosest_df.index)

12494116

In [11]:
# How many rows did we remove?
len(df.index) - len(loosest_df.index)

1618

In [12]:
# Assuming $100/ticket, how much money would the city lose as as result of this missing data?

f'${(len(df.index) - len(loosest_df.index) ) * 100:,}'   # ah, much better...

'$161,800'