In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:

filename = '../data/nyc_taxi_2019-07.csv'

df = (
    pd
    .read_csv(filename,
              usecols=['tpep_pickup_datetime',
                       'tpep_dropoff_datetime',
                       'trip_distance', 
                       'passenger_count',
                       'total_amount'],
              parse_dates=['tpep_pickup_datetime', 
                           'tpep_dropoff_datetime'])
)

df.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,total_amount
0,2019-07-01 00:51:04,2019-07-01 00:51:33,1.0,0.00,4.94
1,2019-07-01 00:46:04,2019-07-01 01:05:46,1.0,4.16,20.30
2,2019-07-01 00:25:09,2019-07-01 01:00:56,1.0,18.80,70.67
3,2019-07-01 00:33:32,2019-07-01 01:15:27,1.0,18.46,66.36
4,2019-07-01 00:00:55,2019-07-01 00:13:05,0.0,1.70,15.30

# Beyond 1

The data set that we loaded is supposed to be for July 2019. How many trips are not from July 2019?  That is, how many records are in the wrong file?

In [4]:
# Remember that without a time, it defaults to midnight!

len(df[(df['tpep_pickup_datetime'] < '2019-07-01') |
   (df['tpep_pickup_datetime'] > '2019-07-31 23:59' )].index)

387

# Beyond 2

What was the mean trip time for each number of passengers?

In [5]:
df['trip_time'] = df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']
df.groupby('passenger_count')['trip_time'].mean()

passenger_count
0.0   0 days 00:14:18.929810752
1.0   0 days 00:17:46.148103924
2.0   0 days 00:18:34.024342704
3.0   0 days 00:19:02.079604271
4.0   0 days 00:20:10.057290100
5.0   0 days 00:22:29.870464324
6.0   0 days 00:20:54.109564300
7.0   0 days 00:16:38.206896551
8.0      0 days 00:11:00.500000
9.0      0 days 00:49:16.125000
Name: trip_time, dtype: timedelta64[ns]

# Beyond 3

Load taxi data from July 2019 and 2020. For each year, and then for each number of passengers, what was the mean amount paid?

In [6]:
all_filenames = ['../data/nyc_taxi_2019-07.csv',
                '../data/nyc_taxi_2020-07.csv']

all_dfs = [pd.read_csv(one_filename,
                usecols=['tpep_pickup_datetime',
                        'tpep_dropoff_datetime',
                         'trip_distance', 'passenger_count', 'total_amount'],
                 parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime'])
           for one_filename in all_filenames]

df = pd.concat(all_dfs)
df.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,total_amount
0,2019-07-01 00:51:04,2019-07-01 00:51:33,1.0,0.00,4.94
1,2019-07-01 00:46:04,2019-07-01 01:05:46,1.0,4.16,20.30
2,2019-07-01 00:25:09,2019-07-01 01:00:56,1.0,18.80,70.67
3,2019-07-01 00:33:32,2019-07-01 01:15:27,1.0,18.46,66.36
4,2019-07-01 00:00:55,2019-07-01 00:13:05,0.0,1.70,15.30

In [8]:
df.groupby([df['tpep_pickup_datetime'].dt.year, 'passenger_count'])['total_amount'].mean()

tpep_pickup_datetime  passenger_count
2002                  1.0                18.002500
                      2.0                18.800000
2008                  1.0                18.340000
                      2.0                42.860000
                      5.0                11.966667
2009                  1.0                23.923571
                      2.0                45.316000
2010                  2.0                18.360000
2019                  0.0                18.981793
                      1.0                19.284646
                      2.0                20.097442
                      3.0                20.208111
                      4.0                21.063172
                      5.0                19.419311
                      6.0                19.386516
                      7.0                70.080690
                      8.0                74.760455
                      9.0                93.509375
2020                  0.0                16.538912
                      1.0                16.856554
                      2.0                17.188322
                      3.0                17.103106
                      4.0                17.964939
                      5.0                16.725836
                      6.0                16.812911
                      7.0                22.456000
                      8.0                10.300000
                      9.0                11.760000
Name: total_amount, dtype: float64