In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# Load taxi data from January 2019 into a data frame, 
# using only the columns `tpep_pickup_datetime`, `passenger_count`, `trip_distance`, and `total_amount`, 
# making sure to load `tpep_pickup_datetime` as `datetime`.

filename = '../data/nyc_taxi_2019-07.csv'

df = pd.read_csv(filename,
                usecols=['tpep_pickup_datetime', 'trip_distance', 'passenger_count', 'total_amount'],
                 parse_dates=['tpep_pickup_datetime'])

df.head()

  tpep_pickup_datetime  passenger_count  trip_distance  total_amount
0  2019-07-01 00:51:04              1.0           0.00          4.94
1  2019-07-01 00:46:04              1.0           4.16         20.30
2  2019-07-01 00:25:09              1.0          18.80         70.67
3  2019-07-01 00:33:32              1.0          18.46         66.36
4  2019-07-01 00:00:55              0.0           1.70         15.30

In [3]:
# Export, to a tab-delimited CSV file, the columns tpep_pickup_datetime, passenger_count, trip_distance, total_amount
# Use the format day/month/year HHs:MMm:SSs

dt_format='%d/%m/%Y %Hh:%Mm:%Ss'

df.to_csv('ex40_taxi_07_2019.csv',
         sep='\t',
         columns=['tpep_pickup_datetime', 'passenger_count', 'trip_distance', 'total_amount'],
         date_format=dt_format)

In [4]:
# Read the CSV file that we just created into a data frame. 
# make sure to parse the datetime column (tpep_pickup_datetime) in its current format

import time

def parse_weird_format(s):
    return time.strptime(s, dt_format)

df = pd.read_csv('ex40_taxi_07_2019.csv',
           sep='\t',
           usecols=['tpep_pickup_datetime', 'passenger_count', 'trip_distance', 'total_amount'],
           parse_dates=['tpep_pickup_datetime'],
           date_parser=parse_weird_format)

In [5]:
# Check that the 'export_date' column is indeed a datetime
df.dtypes

tpep_pickup_datetime     object
passenger_count         float64
trip_distance           float64
total_amount            float64
dtype: object