In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
filename = '../data/wti-daily.csv'

df = pd.read_csv(filename,
                parse_dates=['Date'],
                index_col=['Date'])

df.head()

            Price
Date
1986-01-02  25.56
1986-01-03  26.00
1986-01-06  26.53
1986-01-07  25.85
1986-01-08  25.87

# Beyond 1

Use `resample` to find, for each quarter, the mean and standard deviations in price.

In [3]:
df.resample('1Q').agg(['mean', 'std'])

                Price
                 mean       std
Date
1986-03-31  17.217213  4.856866
1986-06-30  13.866094  1.346364
1986-09-30  13.813906  1.809548
1986-12-31  15.406452  0.824353
1987-03-31  18.250328  0.661624
...               ...       ...
2020-12-31  42.524921  3.844217
2021-03-31  58.093443  4.931396
2021-06-30  66.186667  4.403607
2021-09-30  70.575469  3.078296
2021-12-31  77.701273  5.712271

[144 rows x 2 columns]

# Beyond 2

In which quarter did we see the biggest increase in mean price from the previous quarter?

In [4]:
df.resample('1Q').mean().diff().sort_values('Price', ascending=False).iloc[0]

Price    25.91959
Name: 2008-06-30 00:00:00, dtype: float64

# Beyond 3

 What was the biggest percentage increase in oil prices across quarters?

In [5]:
(
    df
    .resample('1Q')
    .mean()
    .pct_change()
    .sort_values('Price', ascending=False)
    .iloc[0]
)

Price    0.475456
Name: 1990-09-30 00:00:00, dtype: float64