In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:

filenames = ['../data/nyc_taxi_2019-01.csv', '../data/nyc_taxi_2019-07.csv']

all_dfs = [pd.read_csv(one_filename, 
           usecols=['tpep_pickup_datetime', 'passenger_count', 'trip_distance',
                    'fare_amount','extra','mta_tax','tip_amount','tolls_amount',
                    'improvement_surcharge','total_amount','congestion_surcharge'],
           parse_dates=['tpep_pickup_datetime'])
           for one_filename in filenames]

df = pd.concat(all_dfs)

df['pre_tip_amount'] = df[['fare_amount', 'extra', 'mta_tax', 'tolls_amount', 'improvement_surcharge', 'congestion_surcharge']].sum(axis='columns')
df['tip_percentage'] = df['tip_amount'] / df['pre_tip_amount']

df.head()

,tpep_pickup_datetime,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,pre_tip_amount,tip_percentage
0,2019-01-01 00:46:40,1.0,1.5,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN,8.3,0.198795
1,2019-01-01 00:59:47,1.0,2.6,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN,15.3,0.065359
2,2018-12-21 13:48:30,3.0,0.0,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN,5.8,0.000000
3,2018-11-28 15:52:25,5.0,0.0,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN,4.8,0.000000
4,2018-11-28 15:56:57,5.0,0.0,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN,52.8,0.000000

# Beyond 1

We saw that 32 percent of riders don't tip at all. Of those who *do*, what percentage do they tip, on average?

In [3]:
df.loc[df['tip_amount'] >0, 'tip_percentage'].mean()

0.19146519965282618

# Beyond 2

How many of the rides in our data set, supposedly from January and July 2019, are from outside of those dates?

In [4]:
df[(df['tpep_pickup_datetime'] < '2019-01-01 00:00:00') |
   ((df['tpep_pickup_datetime'] > '2019-01-31 23:59:59') & (df['tpep_pickup_datetime'] < '2019-07-01 00:00:00')) |
   (df['tpep_pickup_datetime'] > '2019-07-31 23:59:59')].shape

(816, 13)

# Beyond 3

Looking only at dates in January and July, on what week did passengers tip the greatest percentage?

In [5]:
df = df.set_index('tpep_pickup_datetime')

In [6]:
df = pd.concat([df['2019-01-01':'2019-01-31'],
           df['2019-07-01':'2019-07-31']])

df.resample('1W')['tip_percentage'].mean().sort_values(ascending=False).dropna()

tpep_pickup_datetime
2019-02-03    0.141979
2019-01-27    0.138930
2019-01-20    0.138536
2019-01-13    0.137901
2019-01-06    0.126983
2019-08-04    0.124910
2019-07-14    0.123459
2019-07-21    0.123341
2019-07-28    0.123036
2019-07-07    0.112952
Name: tip_percentage, dtype: float64