In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
filename = '../data/sat-scores.csv'

df = pd.read_csv(filename,
                usecols=['Year', 'State.Code', 'Total.Math', 'Total.Test-takers', 'Total.Verbal'],
                index_col=['Year', 'State.Code'])
df.head()

                 Total.Math  Total.Test-takers  Total.Verbal
Year State.Code
2005 AL                 559               3985           567
     AK                 519               3996           523
     AZ                 530              18184           526
     AR                 552               1600           563
     CA                 522             186552           504

In [3]:
df.shape

(577, 3)

In [4]:
df.index

MultiIndex([(2005, 'AL'),
            (2005, 'AK'),
            (2005, 'AZ'),
            (2005, 'AR'),
            (2005, 'CA'),
            (2005, 'CO'),
            (2005, 'CT'),
            (2005, 'DE'),
            (2005, 'DC'),
            (2005, 'FL'),
            ...
            (2015, 'TN'),
            (2015, 'TX'),
            (2015, 'UT'),
            (2015, 'VT'),
            (2015, 'VI'),
            (2015, 'VA'),
            (2015, 'WA'),
            (2015, 'WV'),
            (2015, 'WI'),
            (2015, 'WY')],
           names=['Year', 'State.Code'], length=577)

In [5]:
df.columns

Index(['Total.Math', 'Total.Test-takers', 'Total.Verbal'], dtype='object')

In [7]:
# How many people took the SAT, total, in 2005?
df.loc[2005, 'Total.Test-takers'].sum()

1344824

In [8]:
# What was the average SAT math score in 2010 from New York, New Jersey, Massachusetts, and Illinois?
df.loc[(2010, ['NY', 'NJ', 'MA', 'IL']), 'Total.Math'].mean()

535.25

In [9]:
# What was the average SAT verbal score in 2012-2015 from Arizona, California, and Texas?
df.loc[([2012,2013,2014,2015], ['AZ', 'CA', 'TX']), 'Total.Verbal'].mean()

497.3333333333333

아래 방식도 가능:

In [10]:
# What was the average SAT verbal score in 2012-2015 from Arizona, California, and Texas?
df.loc[(slice(2012, 2015), ['AZ', 'CA', 'TX']), 'Total.Verbal'].mean()

497.3333333333333

하지만 아래 방식은 허용되지 않음.

In [11]:
# What was the average SAT verbal score in 2012-2015 from Arizona, California, and Texas?
# df.loc[(2012:2015, ['AZ', 'CA', 'TX']), 'Total.Verbal'].mean()

반면에 아래 두 방식은 모두 허용됨:

In [12]:
df.loc[slice(2012, 2015), 'Total.Verbal'].mean()

529.25

In [13]:
df.loc[2012:2015, 'Total.Verbal'].mean()

529.25