In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
# Read the NYC parking violations data into memory.  Only
# load the following columns:'Plate ID',  'Registration State', 
# 'Vehicle Make', 'Vehicle Color', 'Vehicle Make', 
# Violation Time', 'Street Name', 'Violation Legal Code', 

filename = '../data/nyc-parking-violations-2020.csv'

df = pd.read_csv(filename, 
                 usecols=['Plate ID', 
                          'Registration State',
                          'Vehicle Make',
                          'Vehicle Color',
                          'Vehicle Body Type', 
                          'Violation Time', 
                          'Street Name',
                          'Violation Legal Code'])
df.head()

,Plate ID,Registration State,Vehicle Body Type,Vehicle Make,Violation Time,Street Name,Violation Legal Code,Vehicle Color
0,J58JKX,NJ,SDN,HONDA,0523P,43 ST,NaN,BK
1,KRE6058,PA,SUBN,ME/BE,0428P,UNION ST,NaN,BLK
2,444326R,NJ,SDN,LEXUS,0625A,CLERMONT AVENUE,NaN,BLACK
3,F728330,OH,SDN,CHEVR,1106A,DIVISION AVE,NaN,NaN
4,FMY9090,NY,SUBN,JEEP,1253A,GRAND ST,NaN,GREY

In [4]:
# How much memory, total, is being used by just these columns?
orig_mem = df.memory_usage(deep=True).sum()
orig_mem

5235557375

In [5]:
# Replace each of these columns with a category.

for one_colname in df.columns:
    print(f'Categorizing {one_colname}...')
    df[one_colname] = df[one_colname].astype('category')
    print('\tDone.')

Categorizing Plate ID...
	Done.
Categorizing Registration State...
	Done.
Categorizing Vehicle Body Type...
	Done.
Categorizing Vehicle Make...
	Done.
Categorizing Violation Time...
	Done.
Categorizing Street Name...
	Done.
Categorizing Violation Legal Code...
	Done.
Categorizing Vehicle Color...
	Done.

In [6]:
# What types are your columns now?
df.dtypes

Plate ID                category
Registration State      category
Vehicle Body Type       category
Vehicle Make            category
Violation Time          category
Street Name             category
Violation Legal Code    category
Vehicle Color           category
dtype: object

In [7]:
# How much memory, total, is being used after categories?
new_mem = df.memory_usage(deep=True).sum()
new_mem

547944786

In [8]:
# What proportion of the previous memory are you now using?
new_mem /  orig_mem

0.10465834805219759